[submodule "16_pi_pico_rx"]
	path = 16_pi_pico_rx
	url = https://github.com/dawsonjon/PicoRX.git
[submodule "26_sstv_decoder"]
	path = 26_sstv_decoder
	url = https://github.com/dawsonjon/PicoSSTV.git
[submodule "27_planetarium"]
	path = 27_planetarium
	url = https://github.com/dawsonjon/Pico-Planetarium.git
[submodule "29_ham_fist"]
	path = 29_ham_fist
	url = https://github.com/dawsonjon/HamFist
